<div id="about" class="bg-warning bg-gradient">
    <div class="text-center pt-3 pb-5">
        <h2 class="section-heading text-uppercase">О Нас</h2>
        <h3 class="section-subheading text-muted pb-2">История исполнителя синтвейв</h3>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="img-fluid" src="public/img/сompany/logo-black.png" alt="Начало" title="Начало"></div>
            <div class="timeline-panel about-left">
                <div class="timeline-heading">
                    <h4>2005-2008</h4>
                    <h4 class="subheading">Ранние вдохновения</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">В середине 2000-х наш исполнитель нашел вдохновение в ретро-звуках 80-х. С страстью к аналоговым синтезаторам и винтажным драм-машинам началось путешествие в мир синтвейв.</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="img-fluid" src="public/img/сompany/logo-black.png" alt="Дебют" title="Дебют"></div>
            <div class="timeline-panel about-right">
                <div class="timeline-heading">
                    <h4>2010</h4>
                    <h4 class="subheading">Выпуск дебютного альбома</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">В 2010 году исполнитель выпустил свой дебютный альбом "Неоновые Мечты", который передал суть жанра синтвейв. Альбом получил высокую оценку критиков и утвердил исполнителя как восходящую звезду на электронной музыкальной сцене.</p></div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="img-fluid" src="public/img/сompany/logo-black.png" alt="Тур" title="Тур"></div>
            <div class="timeline-panel about-left">
                <div class="timeline-heading">
                    <h4>2012-2015</h4>
                    <h4 class="subheading">Мировой тур</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">Успех "Неоновых Мечт" привел к мировому туру. Выступая на различных фестивалях и в клубах, исполнитель донес свой уникальный звук до аудитории по всему миру, укрепив свои позиции в сообществе синтвейв.</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="img-fluid" src="public/img/portfolio/album3.jpg" alt="Новый альбом" title="Новый альбом"></div>
            <div class="timeline-panel about-right">
                <div class="timeline-heading">
                    <h4>2017</h4>
                    <h4 class="subheading">Выпуск второго альбома</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">В 2017 году исполнитель выпустил свой второй альбом "Ретро Будущее". Альбом продемонстрировал более зрелый звук, сочетая ностальгические синтезаторы с современными методами производства. Это был коммерческий успех, который расширил фан-базу исполнителя.</p></div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="img-fluid" src="public/img/portfolio/album2.jpg" alt="Сотрудничество" title="Сотрудничество"></div>
            <div class="timeline-panel about-left">
                <div class="timeline-heading">
                    <h4>2019</h4>
                    <h4 class="subheading">Сотрудничества и участие</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">К 2019 году исполнитель начал сотрудничать с другими известными именами на электронной музыкальной сцене. Эти сотрудничества принесли новый взгляд на их музыку и познакомили их звук с новой аудиторией.</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="img-fluid" src="public/img/portfolio/album1.jpg" alt="Расширение" title="Расширение"></div>
            <div class="timeline-panel about-right">
                <div class="timeline-heading">
                    <h4>2022</h4>
                    <h4 class="subheading">Исследование новых горизонтов</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">В последние годы исполнитель продолжает развиваться, исследуя новые звуки и стили, оставаясь верным своим синтвейв-корням. Они остаются заметной фигурой в жанре, постоянно расширяя границы своей музыки.</p></div>
            </div>
        </li>
    </ul>
</div>