<section data-bs-version="5" class="Article2 cid-sISp0JUE9m m-0 p-0" id="afisha">
    <div class="wrapper p-auto m-auto d-flex align-items-center justify-content-center flex-column">
        {{> concerts}}
        {{> concerts}}
        {{> concerts}}
        <a href="#about" class="mt-5 p-auto btn btn-warning text-decoration-none text-black font-weight-bold">Узнайте историю нового альбома прямо сейчас!</a>
    </div>
</section>