<div class="card-group container">
  <div class="card">
    <div class="card-img-top" style="background-image: url('public/img/cities/moscow.webp'); height: 200px;"></div>
    <div class="card-body">
      <h5 class="card-title">Концерт</h5>
      <p class="card-text">Москва</p>
      <p class="card-text"><small class="text-muted">12.04.2024 18:00</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top" style="background-image: url('public/img/cities/spb.jpg'); height: 200px;"></div>
    <div class="card-body">
      <h5 class="card-title">Концерт</h5>
      <p class="card-text">Санкт-Петербург</p>
      <p class="card-text"><small class="text-muted">19.04.2024 18:00</small></p>
    </div>
  </div>
  <div class="card">
    <div class="fill card-img-top" style="background-image: url('public/img/cities/ekb.jpg'); height: 200px;">
    </div>
    <div class="card-body">
      <h5 class="card-title">Концерт</h5>
      <p class="card-text">Екатеренбург</p>
      <p class="card-text"><small class="text-muted">31.04.2024 19:30</small></p>
    </div>
  </div>
</div>