<footer class="footer bg-black small text-center text-white-50"><div
    class="container px-4 px-lg-5"
  ><a href="#top" class="d-block mb-3 text-white">Наверх</a>
    ©
    {{musicName}}
    2024</div></footer>