<!-- Контейнер для изображения фона и текста -->
<div class="gif-container">
  <!-- Изображение фона -->
  <img
    class="gif-background"
    src="public/img/leary-avantgarde.gif"
    alt="backGIF"
  />
  <!-- Текст -->
  <div class="text-container display-1 font-italic">{{musicName}}</div>
</div>