<div id="header" class="nav-container">
  <header class="d-flex justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/views/index.html#top" class="nav-link" aria-current="page">Главная</a></li>
      <li class="nav-item"><a href="#afisha" class="nav-link">Афиша</a></li>
      <li class="nav-item"><a href="#about" class="nav-link">О исполнителе</a></li>
      <li class="nav-item"><a href="#portfolio" class="nav-link">Музыка</a></li>
      <li class="nav-item"><a href="#contacts" class="nav-link">Контакты</a></li>
    </ul>
  </header>
</div>