<section data-bs-version="5" class="features4 cid-sISp6fuuvL" id="features7-28">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="mbr-section-head">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        Syllabus
                    </h2>
                    <h4 class="mbr-section-subtitle syllabus-subtitle mt-2 mbr-fonts-style display-5">
                        Real international experience to shape your understanding of business
                    </h4>
                </div>
                <div class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-bs-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        1.Business models and strategy
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>

                                </div>

                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2" aria-expanded="false" aria-controls="collapse1">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        2.Product Management
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#syllabus-accordeon" data-bs-parent="#syllabus-accordeon">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        3.Sales &amp; Marketing
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#syllabus-accordeon" data-bs-parent="#syllabus-accordeon">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4" aria-expanded="false" aria-controls="collapse1">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        4.Leadership in the New Economy
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#syllabus-accordeon" data-bs-parent="#syllabus-accordeon">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5" aria-expanded="false" aria-controls="collapse1">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        5.Finance
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse5" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#syllabus-accordeon" data-bs-parent="#syllabus-accordeon">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse6" aria-expanded="false" aria-controls="collapse1">
                                <div class="d-flex w-100 card-subtitle">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 w-100 me-2 display-5">
                                        6.Digital Entrepreneurship
                                    </h6>
                                    <div>
                                        <div class="time d-flex align-items-center">
                                            <p class="time-info mbr-fonts-style w-100 display-7"> <span class="mobi-mbri mobi-mbri-clock char-active" title="clock"></span>4
                                                weeks</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#syllabus-accordeon" data-bs-parent="#syllabus-accordeon">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text m-0 display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Integer feugiat scelerisque varius
                                    morbi enim. Eget nunc scelerisque viverra mauris.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>