<div
    class="text-bg-warning pt-3 pt-md-5 px-md-5 text-center overflow-hidden"
>
    <div class="my-3 py-3">
    <h2 class="display-5">Что такое SynthWave?</h2>
    <p class="lead text-muted">Лучшее что вы слышали...</p>
    </div>
    <div
    class="bg-body-tertiary shadow-sm mx-auto d-flex align-items-center justify-content-center"
    style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
<p>"Synthwave" - это жанр электронной музыки, который олицетворяет собой смесь ретро-футуристического звучания 80-х годов и современных электронных элементов. Исполнители synthwave создают музыку, которая захватывает слушателя и переносит его в мир киберпанка, насыщенный яркими цветами и огнями ночных городов.</p></div>
</div>
<div
class="text-bg-warning pb-5 px-md-5 text-center overflow-hidden"
>
<div
    class="bg-body-tertiary shadow-sm mx-auto d-flex align-items-center justify-content-center"
    style="width: 80%; height: 300px; border-radius: 0 0 21px 21px"
><p>При прослушивании synthwave музыки, вы можете ощутить волнение и ностальгию за эпоху, которая кажется как будто уже была, но все еще остается в наших сердцах и воспоминаниях. Отличительными чертами этого жанра являются кибернетическая атмосфера, глубокие синтезаторные звуки и энергичные ритмы, которые заставляют двигаться даже самого закоренелого скептика.</p></div>
</div>