
<section data-bs-version="5" class="features3 cid-sISoY579pI" id="features3-24">
    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(237, 239, 240);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="mbr-section-title mbr-fonts-style display-2">
                    Benefits
                </h2>
                <div class="list">
                    <div class="list-item border-bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mx-auto">
                                <h3 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>Specialist</strong></h3>
                            </div>
                            <div class="col-lg-8 col-md-12 mx-auto">
                                <div class="content">
                                    <p class="mbr-text mbr-fonts-style m-0 display-7">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-item border-bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mx-auto">
                                <h3 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>Digital
                                        switchers</strong></h3>
                            </div>
                            <div class="col-lg-8 col-md-12 mx-auto">

                                <div class="content">
                                    <p class="mbr-text mbr-fonts-style m-0 display-7">Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-item border-bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mx-auto">
                                <h3 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>Executives</strong></h3>
                            </div>
                            <div class="col-lg-8 col-md-12 mx-auto">
                                <div class="content">
                                    <p class="mbr-text mbr-fonts-style m-0 display-7">Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-item border-bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mx-auto">
                                <h3 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>Entrepreneurs</strong>
                                </h3>
                            </div>
                            <div class="col-lg-8 col-md-12 mx-auto">
                                <div class="content">
                                    <p class="mbr-text mbr-fonts-style m-0 display-7">Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>