    {{> head}}
  <body>
    {{> gif}}
    {{> header}}
    {{> intro}}
    <div class="left-text h-100"><img src="public/img/honey.png" style="height: 5rem; transform: scaleX(-1);"></div>
    <div class="right-text h-100"><img src="public/img/honey.png" style="height: 5rem;"></div>
    {{> promo}}
    {{> afisha}}
    {{> about}}
    {{> albums}}
    {{> team}}
    {{> contact}}
    {{> modals}}
    {{> sign}}
    {{> contacts}}
    {{> footer}}
    <script src="public/js/speed.js"></script>
    <script src="public/js/gif.js"></script>
    <script src="public/js/anim.js"></script>
    <script src="public/js/header.js"></script>
    <script src="public/js/modals.js"></script>
  </body>
</html>
