    {{> head}}
  <body>
    <!-- Контейнер для изображения фона и текста -->
    <div class="gif-container">
      <!-- Изображение фона -->
      <img
        class="gif-background"
        src="public/img/leary-avantgarde.gif"
        alt="backGIF"
      />
      <!-- Текст -->
      <div class="text-container">NeOOOON JOY</div>
    </div>
    {{> header}}
    <!-- Добавим контейнер для навигации -->
    <div class="my-5">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
          <h1 class="text-body-emphasis">Full-width jumbotron</h1>
          <p class="col-lg-8 mx-auto lead">
            This takes the basic jumbotron above and makes its background
            edge-to-edge with a <code>.container</code> inside to align content.
            Similar to above, it's been recreated with built-in grid and utility
            classes.
          </p>
        </div>
      </div>
    </div>
    <div
      class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
    >
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Designed for engineers</h1>
        <h3 class="fw-normal text-muted mb-3">
          Build anything you want with Aperture
        </h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a class="icon-link" href="#">
            Learn more
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
          <a class="icon-link" href="#">
            Buy
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div
        class="product-device product-device-2 shadow-sm d-none d-md-block"
      ></div>
    </div>
    <div
      class="text-bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
    >
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div
        class="bg-body-tertiary shadow-sm mx-auto"
        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
      ></div>
    </div>
    {{> footer}}
    <script src="public/js/gif.js"></script>
    <script src="public/js/header.js"></script>
  </body>
</html>
